<% if record.errors.any? %>
  <div class="alert alert-error alert-danger">
    <a class="close" data-dismiss="alert">×</a>
    <ul>
      <% record.errors.full_messages.each do |message| %>
        <li>
          <%= raw message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
