<% if flash[:notice] %>
  <p class="notice alert alert-success message">
    <a class="close" data-dismiss="alert">×</a>
    <%= flash[:notice] %>
  </p>
<% end %>

<% if flash[:error] %>
  <p class="notice alert alert-danger message">
    <a class="close" data-dismiss="alert">×</a>
    <b>ATENÇÃO:</b> <%= flash[:error] %>
  </p>
<% end %>