<div id="header" class="link_title">
  <div class="row">
    <div class="col-md-3">
      <h1><%= link_to "BizuSafo", root_path %></h1>
    </div>
    <div class="col-md-9">
      <h1>
        <small>
          <%= link_to "links compartilhados", root_path %>
        </small>  
      </h1>
    </div>
  </div>
</div>