<span class="positive-votes ratings-count">
  <%= story_positive_rating_handler(story) %>
</span>

<span class="votes-separator">|</span>

<span class="negative-votes ratings-count">
  <%= story_negative_rating_handler(story) %>
</span>
