<span class="positive-votes"><%= link_to positive_votes_count(story), positive_ratings_url(story), remote: true, method: :put %></span>
ou
<span class="negative-votes"><%= link_to negative_votes_count(story), negative_ratings_url(story), remote: true, method: :put %></span>
