<div class="story-container">
  <div class="lead">
    <p>
      <%= link_to story.description, story.url %>
    </p>
  </div>
  <div class="time-container">
    <p>
      <%= image_tag avatar_url(story.user), class: "user-photo" %>
      <%= story.user.username %> <strong>compartilhou em</strong> <%= story.created_date %>
    </p>
  </div>
</div>
