<div class="story-container">
  <div class="lead">
    <p>
      <%= link_to story.description, story.url %>
    </p>
  </div>
  <div class="time-container">
    <p><strong>postado em</strong> <%= story.created_date %></p>
  </div>
</div>
