<div class="comment-container">
  <div class="comment-author">
    <aside>
      <%= link_to image_tag(avatar_url(comment.author), class: "user-photo"), profile_path(comment.author) %>
    </aside>
    <p>
      <%= link_to comment.username, profile_path(comment.author) %> <b>em</b> <%= l comment.created_at %><br />
    </p>
  </div>
  <p><%= comment.text %></p>
</div>
