<%= form_for @story, html: {class: "form-signin"} do |f| %>
  <legend>Editar Bizu!</legend>
  <%= render partial: "form", locals: {f: f, story: @story} %>
  <button type="submit" class="btn btn-default btn-block">Alterar Bizuuuu!</button>
  <%= link_to "Apagar Bizuuuu!", @story, class: "btn btn-danger btn-block", method: :delete, data: { confirm: "Tem certeza que deseja apagar?" } %>
<% end %>
