/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */

@font-face {
  font-family: 'PlayfairDisplaySC-Regular';
  src: url('PlayfairDisplaySC-Regular.ttf');
  src: url('PlayfairDisplaySC-Regular.ttf') format('truetype');
}

.title-font {
  font-family: 'PlayfairDisplaySC-Regular', cursive;
  font-size: 48px;
}

.link_title a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: #000000
}

.title-margin {
  margin: 30px 0 35px 0;
}
