div.comment-container {
  margin: 20px 0px;
  padding: 7px;
  border: 1px solid #ccc;
 -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
         border-radius: 5px;

  .user-photo {
    width: 36px;
    height: 36px;
  }

  aside {
    vertical-align: middle;
    width: 20px;
    float: left; 
  }

  p {
    margin-left: 46px;
    font-size: 1.3em;
    font-weight: 200;
  }

  div.comment-author p {
    font-size: 1em;
    margin-bottom: 10px;
    color: #666;
  }
}
