div.comment-container {
  margin: 20px 0px;
  padding: 7px;
  border: 1px solid #ccc;
 -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
         border-radius: 5px;
}

div.comment-container aside {
  vertical-align: middle;
  width: 20px;
  float: left;
}

div.comment-container p {
  margin-left: 30px;
}

div.author-comment-box {
  margin-bottom: 30px;
  font-size: 12px;
}
