#error_explanation,
.field_with_errors {
  color: #EE3C3C;
}

#error_explanation,
.alert {
  h2 {
    font-size: 1.5em;
  }

  ul {
    padding: 0px 20px;
  }
}

.field_with_errors {
  textarea, 
  input {
    border: 1px solid #EE3C3C;
  }
}