// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'PlayfairDisplaySC';
  src: font-url('PlayfairDisplaySC-Regular.ttf') format('truetype');
}

#header {
  border-bottom: 1px solid #eeeeee;
  padding: 20px 0px;
  margin-bottom: 20px;
}

#header h1 {
  font-family: 'PlayfairDisplaySC', cursive;
  font-size: 3.5em;
  margin: 0px;
  line-height: 1;
}

#header h1 {
  a:link, a:visited, a:hover, a:active  {
    text-decoration: none;
  }
  
  a:visited, a:hover, a:active{
    color: #000000;
  }
}

#header h1 small {
  font-family: 'PlayfairDisplaySC', cursive;
  font-size: 50%;
}

.user-photo {
  width: 24px;
  height: 24px;
}

.links-helper {
  margin-top: 18px;
}

.story-container {
  padding: 19px 29px 36px;
  margin: 20px 0 15px 0;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.story-container .lead p {
  margin-bottom: 15px;
}

.story-container .comments-status p {
  font-size:13px ;
  margin-left: -15px;
  color: gray;
}

.story-container .comments-status a {
  color: gray;
}

.form-signin {
  max-width: 600px;
  padding: 0px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  margin-top: 30px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.time-container {
  float: right;
}

.menu-btn-actions {
  margin-bottom: 20px;
}

.positive-votes,
.positive-votes a {
  margin-right: 10px;
  color: green;
}

.negative-votes,
.negative-votes a {
  margin-left: 10px;
  color: red;
}

.story-description-ratings {
  margin-bottom: 25px;
}

.story-ratings {
  margin-right: 13px;
  float: right;
  font-size: 18px;
}

.votes-separator {
  color: #A9A9A9;
}

#error_explanation,
.field_with_errors {
  color: #EE3C3C;
}

#story_filters {
  ul, li {
    display: inline-block;
  }

  ul {
    padding-left: 10px;
  }

  li {
    margin-left: 10px;
  }
}
