// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.story-container {
  padding: 19px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);

  & + & {
    margin-top: 20px;
  }

  .story-description {
    margin-bottom: 25px;
  }

  .comments-status,
  .comments-status a {
    font-size: 13px;
    color: gray;
    margin-bottom: 20px;
  }

  .user-photo {
    width: 24px;
    height: 24px;
  }
}

.time-container {
  text-align: right;
}

.story-ratings {
  text-align: right;
  font-size: 18px;

  .votes-separator {
    color: #A9A9A9;
  }

  .positive-votes,
  .positive-votes a {
    margin-right: 10px;
    color: green;
  }

  .negative-votes,
  .negative-votes a {
    margin-left: 10px;
    color: red;
  }

  .positive-votes span {
    cursor: pointer;
  }
}

.pagintation-center {
  text-align: center;
}
