#story_filters {
  ul, li {
    display: inline-block;
  }

  ul {
    padding: 0px;
    margin-top: 10px;
    margin-right: 10px;
  }

  li {
    margin-right: 10px;
  }

  form input {
    display: inline-block;
    width: 100px;
  }

  div.filters {
    display: inline-block;
  }
}