// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'PlayfairDisplaySC';
  src: font-url('PlayfairDisplaySC-Regular.ttf') format('truetype');
}

.title-font {
  font-family: 'PlayfairDisplaySC', cursive;
  font-size: 48px;
}

.link_title a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: #000000
}

.sub_title {
  font-family: 'PlayfairDisplaySC', cursive;
  font-size: 28px;
}

.story-container {
  padding: 19px 29px 29px;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin {
  max-width: 600px;
  padding: 0px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  margin-top: 30px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.time-container {
  float: right;
}

.menu-btn-actions {
  margin-bottom: 20px;
}

.user-photo {
  width: 24px;
  height: 24px;
}
