<p>Olá <%= @resource.email %>!</p>

<p>Você pediu para resgatar a sua senha. Para fazer isso, clique no link abaixo:</p>

<p><%= link_to 'Mudar senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não pediu por isso, por favor, ignore este email.</p>
<p>Sua senha não será trocada se você não acessar o link acima e criar uma nova senha.</p>
