<p>Olá <%= @resource.email %>!</p>

<p>Sua conta foi suspensa por causa de tentativas excessivas de login.</p>

<p>Clique no link abaixo para destravar a sua conta:</p>

<p><%= link_to 'Destravar minha conta', unlock_url(@resource, unlock_token: @token) %></p>
